# Ignore les fichiers .log
*.log

# Ignore les répertoires bin et obj
bin/
obj/

# Ignore les fichiers temporaires
*.tmp
*.bak

# Ignore les fichiers ONNX (si vous ne voulez pas les inclure dans le dépôt)
*.onnx
